torch==1.11.0
fairseq==0.10.0
transformers==4.19.2
sentencepiece==0.1.96
sacremoses==0.0.53
onnx==1.11.0
onnxruntime==1.11.1
progress==1.6
streamlit==1.10.0
tqdm==4.64.0
requests==2.27.1
regex==2022.4.24

